@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu-bold.woff2");
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Ubuntu-Bold;
  background-color: #fffff6;
  font-size: 18px;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

img {
  height: 12px;
  width: 12px;
}

#submit:hover {
  color: white;
  background: rgb(0, 90, 4, 0.9);
  transition: 0.5s;
}

#submit {
  margin: 0 10px;
  font-size: 16px;
  letter-spacing: 3px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px;
  border-radius: 5px;
}
.page_wrapper {
  height: 100vh;
  width: 100vw;
}

.page_inner_wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 15% 75%;
  overflow-x: hidden;
}

.inner_table_wrapper {
  text-align: center;
  max-width: 400px;
  display: inline;
}

.table_wrapper {
  text-align: center;
}

.q_table {
  display: inline-table;
  border: black 5px;
  border-collapse: collapse;
  width: fit-content;
}

th,
td {
  text-align: center;
  padding: 8px 24px;
}

th {
  background-color: lightgreen;
}

.border_left {
  border-radius: 10px 0px 0px 0px;
}

.border_right {
  border-radius: 0px 10px 0px 0px;
}

th:hover {
  cursor: pointer;
}
