body,
html {
  padding: 0;
  margin: 0;
}

.page_wrapper {
  height: 100vh;
  width: 100vw;
}

.page_inner_wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 15% 75%;
}

.table_wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.inner_table_wrapper {
  text-align: center;
  max-width: 425px;
}

.q_table {
  display: inline-table;
  border: black 5px;
  border-collapse: collapse;
  width: fit-content;
}

th,
td {
  text-align: center;
  padding: 8px 24px;
}
